table {
	
	width: 500px;
	height: 500px;
	margin: 100px auto auto auto;
}

h1 {
	font-size: 100px;
	width: 600px;
	margin: 0 auto auto auto;
	text-align: center;
}

td {
	width: 100px;
	height: 100px;
	
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}