.row {
	text-align: center;
	padding-top: 25%;
}

body {
	background: url(https://images.unsplash.com/photo-1517429481096-5bc77134f77c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6bf8664a40a24b1d4ef439b380d7696e&auto=format&fit=crop&w=1300&q=80);

	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	color: white;
	

}

.col {
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

html {
	height: 100%;
}


/* Gradient transparent - color - transparent */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
	color: white;
	width: 500px;
}

h1, h3 {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
