<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Galaxies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>

    <div class="ui fixed inverted large menu" id="header">
        <div class="huge header item">
            <i class="icon star large"></i>Galaxies
        </div>
        <a class="item" href="/">
            Home
        </a>
        <a class="item" href="/galaxies/new">
            Add new Galaxy
        </a>
    </div>