<% include partials/header.ejs %>

<% galaxies.forEach((galaxy) => {  %>
<div class="ui container">
    <div>
        <h1 class="ui header">
            <%= galaxy.title %>
        </h1>
    </div>
    <div class="ui container segment">
        <div class="ui image large rounded middle aligned centered">
            <img src="<%= galaxy.image %>">
        </div>
        <div class="text">
            <h5>
                <%= galaxy.description.substring(0, 100) %>...
            </h5>
        </div>
        <button id="readMore" class="ui teal button" href="/galaxies/<%= galaxy._id%>">Read More</button>
    </div>
       
</div>
   
<% }) %>

<% include partials/footer.ejs %>